.app-header {
    background-color: $clr4;
    padding: 10px;
    display: flex;
    justify-content: space-between;


    .header-profile-container {

        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: space-around;

        .profile-img {
            padding-top: 10px;
            font-size: 2rem;
            // padding: 1.3rem 0;
            align-self: center;
            justify-self: center;
        }

        .username-header {
            @media (max-width: 520px) {
                display: none;
            }
        }
    }

    nav {
        display: flex;
        align-items: center;
        font-size: 1.5rem;

    }

    nav .active {
        color: $clr1;
    }

    .logo{
        margin: 0;
    }

}