.modal {

  body.active-modal {
    overflow-y: hidden;
    z-index: 10;
  }

  .btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
  }

  .modal,
  .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }

  .overlay {
    background: rgba(49, 49, 49, 0.8);
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f5f5f5;
    padding: 28px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
  }

  .title {
    margin: 0.5rem 0 1rem;
  }

  input {
    margin-bottom: 2rem;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid lightgray;

    &:focus-visible {
      outline: none;
    }
  }

  .save-btn {
    align-self: center;
  }

  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    // padding: 5px 7px;
    cursor: pointer;

    &:hover {
      background-color: lightgray;
      border-radius: 50%;
    }
  }

}