.wap-gallery-2a {
    display: flex;
    flex-direction: column;
    color: $almost-black;
    background-color: $almost-white;
    padding: 5rem 2rem;
    text-align: center;
  
    .container-txt {
      padding-bottom: 50px;
      font-size: 2rem;
      font-weight: 700;
    }
  
    .wap-gallery-img-container {
      display: grid;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      gap: 50px;
      margin: auto;
  
      img {
        max-width: 5rem;
        margin: 50px auto;
      }
  
      .gallery-title {
        font-size: 1.2rem;
      }
  
      .gallery-txt {
        font-size: 0.9rem;
      }
    }
  }