.wap-gallery-2a {
    display: flex;
    flex-direction: column;
    color: $almost-black;
    background-color: $almost-white;
    padding: 5rem $normal-padding;
    text-align: center;
  
    .container-txt {
      padding-bottom: 50px;
      font-size: 2rem;
      font-weight: 700;
    }
  
    .wap-gallery-img-container {
      display: grid;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      gap: 50px;
      margin: auto;
  
      img {
        max-width: 5rem;
        margin: 50px auto;
      }
  
      .gallery-title {
        font-size: 1.2rem;
      }
  
      .gallery-txt {
        font-size: 0.9rem;
      }
    }

    &.mobile-layout {
      padding: 5rem $mobile-padding;
      .wap-gallery-img-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, minmax(100px, 1fr));
        gap: 30px;
        margin: auto;
    
        img {
          max-width: 5rem;
          margin: 50px auto;
        }
      }
    }
  
    &.tablet-layout {
      padding: 5rem $narrow-padding;
    }
  
    @media (max-width: $narrow-breakpoint) {
      padding: 5rem $narrow-padding;
    }
  
    @media (max-width: $mobile-breakpoint) {
      padding: 5rem $mobile-padding;
    }
  }