.wap-gallery-4b {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  // width: 100%;
  align-content: center;
  text-align: center;

  .subtitle {
    padding-bottom: 50px;
  }

  .wap-gallery-img-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 1fr));

    img:hover {
      filter: brightness(70%);
    }

    .photo-container {
      min-height: 50px;
      position: relative;
      aspect-ratio: 1/1;

      img {
        height: 100%;
        min-height: 50px;
        background-position: center;
        object-fit: cover;
        transition: filter 0.1s;
      }
    }

  }

  &.mobile-layout {
    .wap-gallery-img-container {
      grid-template-columns: repeat(2, minmax(50px, 1fr));
    }
  }

  @media (max-width: $narrow-breakpoint) {
    .wap-gallery-img-container {
      grid-template-columns: repeat(2, minmax(50px, 1fr));
    }
  }

}