.hero-container{
    background-image: url('https://res.cloudinary.com/dimirmc9j/image/upload/v1674491093/hero_home_background_ke00sz.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .wave-svg{
        // width: 800px;
        position: relative;
        top: 10px;
        z-index: 0;
    }

}

.home-page-hero {
    // background-color: #282828;
    color: $almost-white;
    // padding-top: 130px;
    padding: 7rem 3rem 5rem;
    text-align: center;
    min-height: 80vh;
    display: flex;
    gap: 50px;

    .intro-container{
        flex-grow: 1;
        padding-top: 100px;
        .hero-title {
            font-weight: 900;
            font-size: 4rem;
            line-height: 1.2;
            font-family: mont-heavy;
            margin-bottom: 0.5em;
    
            span {
                background: linear-gradient(140deg,  lighten($clr1, 5%), rgb(222, 233, 243));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
    
            }
        }
    
        .hero-txt {
            font-size: 1rem;
            padding-bottom: 32px;
        }

    }

    .img-container{
        // min-width: 200px;
        // height: 200px;
        padding-right: 100px;
        .demo-hero{
            width: 600px;
        }
        
        .demo-template{
            width: 230px;
            position: relative;
            bottom: 150px;
            left: 250px;
        }
    }



    

    .hero-btn {
        @include btn($padding: em(12px) em(24px), $bg: $almost-white, $hover: $almost-white, $clr: $almost-black);
        font-weight: 700;
        font-size: 1.2rem;
        border-radius: 2em;
        border: none;
        
        &:hover{
            // text-shadow: 0px 1px 3px rgb(0, 0, 0);
            background: $clr1;
            border: none;
        }
    }

}