.hero-container {
    background-image: url('https://res.cloudinary.com/dimirmc9j/image/upload/v1674860634/hero-home-background-transformed_jda6ym.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    // height: 90vh;

    .wave-svg {
        // width: 800px;
        position: relative;
        top: 10px;
        z-index: 0;
    }

}

.home-page-hero {
    // background-color: #282828;
    color: $almost-white;
    // padding-top: 130px;
    padding: 7rem $normal-padding 8rem;

    @media (max-width: $narrow-breakpoint) {
        padding: 7rem $narrow-padding 8rem;
    }

    @media (max-width: $mobile-breakpoint) {
        padding: 7rem $mobile-padding 8rem;
    }

    // text-align: center;
    // min-height: 80vh;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;

    .intro-container {
        max-width: 460px;

        .hero-title {
            font-weight: 900;
            font-size: 5rem;
            line-height: 1.1;
            font-family: mont-heavy;
            margin-bottom: 0.5em;
            @media (max-width: $mobile-breakpoint) {
                font-size: 3.6rem;
            }

            span {
                background: linear-gradient(140deg, lighten($clr1, 5%), rgb(222, 233, 243));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

            }
        }

        .hero-txt {
            font-size: 1.3rem;
            padding-bottom: 32px;
        }

    }

    .img-container {
        display: none;

        @media (min-width: $normal-breakpoint) {
            display: flex;
            position: relative;
            justify-self: flex-end;
            align-items: flex-start;
            justify-content: end;
            
        }

        .demo-hero {
            // width: 600px;
            // max-width: 400px;
            max-width: 90%;
        }

        .demo-template {
            width: 30%;
            position: absolute;
            // bottom: 150px;
            top: 40%;
            left: 60%;

            @media (max-width: 1200px) {
                top: 30%;

            }
        }

    }

    .expand {
        font-size: 5rem;
        position: fixed;
        z-index: 1;
        top: 600px;
        left: 39%;

        // right: 50%;
        animation: bounce;
        animation-duration: 1.5s;
        animation-delay: 2s;

        &.down {
            display: none;
        }

        @media (min-width: $narrow-breakpoint) {
            top: 650px;
            left: 47%;

        }
    }




    .hero-btn {
        @include btn($padding: em(12px) em(24px), $bg: $almost-white, $hover: $almost-white, $clr: $almost-black);
        font-weight: 700;
        font-size: 1.2rem;
        border-radius: 2em;
        border: none;

        &:hover {
            // text-shadow: 0px 1px 3px rgb(0, 0, 0);
            background: $clr1;
            border: none;
        }
    }

}