* {
    box-sizing: border-box;
    outline: none;
    
}

::selection {
    background-color: $clr1;
}

html {
    font-family: livvic-semi-bold;

}

body {
    font-size: rem(18px);
    margin: 0;
    margin: auto;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.6em;
    line-height: 1;
}

h1{
    font-size: 64px;
    line-height: 56px;
    font-family: livvic-bold;
}

h2{
    font-size: 48px;
    line-height: 48px;
    font-family: livvic-bold;
}

h3{
    font-size: 18px;
    line-height: 28px;
    font-family: livvic-bold;
}





section,
main,
footer {
    padding: 5px;
}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;


    .app-main-container {
        flex-grow: 1;

        // max-width: 1500px;
        margin: 0;
        padding: 0;
        
    }
}