
.wap-hero-3a {
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    color: whitesmoke;
    
    .wap-hero-container{
      padding: 17.5rem $normal-padding;
      background-color: rgba(232, 153, 137, 0.105);
      z-index: 1;
    }
    .title {
      margin-bottom: 10px;
      // line-height: 1.2;
      margin-bottom: 2rem;
    }
  
  
  
    // .txt {
    //   font-size: 1.3rem;
    // }
  
    img {
      margin-top: 3rem;
      max-width: 100%;
    }
  
    button {
        background-color: inherit;
        padding: 3px 0;
      border-bottom: 0.5px solid $almost-black;
    }
  }