.wap-hero-6 {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    // width: 100%;
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    color: whitesmoke;
    padding: 17.5rem $normal-padding;

    .title {
        max-width: 800px;
        margin-bottom: 10px;
        margin-left: 100px;
        font-size: 5.9rem;
    }

    .subtitle {
        max-width: 700px;
        margin-left: 100px;
        margin-bottom: 100px;
        font-size: 2.5rem;
    }

    button {
        margin-left: 100px;
        background-color: inherit;
        padding: 1rem 1.5rem;

        &:hover {
            background-color: gray;
            color: white;
        }
    }


    &.mobile-layout {
        padding: 15rem $mobile-padding;
        .title {
            font-size: 4rem;
        }
    
        .subtitle {
            font-size: 2rem;
        }

    }

    &.tablet-layout {
        padding: 17.5rem $narrow-padding;
    }

    &.tablet-layout,
    &.mobile-layout {
        .title {
            margin-left: 0px;
        }

        .subtitle {
            margin-left: 0px;
        }

        button {
            margin-left: 0px;
        }
    }

    @media (max-width: $narrow-breakpoint) {
        padding: 17.5rem $narrow-padding;

        .title {
            margin-left: 0px;
            font-size: 4rem;
        }

        .subtitle {
            margin-left: 0px;
        }

        button {
            margin-left: 0px;
        }
    }

    @media (max-width: $mobile-breakpoint) {
        padding: 12rem $mobile-padding;
        .title {
            font-size: 3rem;
        }
    
        .subtitle {
            font-size: 1.5rem;
        }
    }


}