.wap-hero-5 {
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: whitesmoke;
  padding: 7.5rem $normal-padding;


  .title {
    max-width: 600px;
    margin-bottom: 2rem;
  }

}