.editor-side-bar {
    display: flex;
    // background-color: white;
    color: $icon-clr;
    // border-right: 1px solid rgb(181, 181, 181);
    border-right: none;
    font-family: roboto-regular;
    // position: relative;
    height: calc(100vh - 90px);

    .dorppable-container{
        height: 100%;
    }
    
    .editor-options {
        display: flex;
        // justify-content: center;
        flex-direction: column;
        // background-color: white;
        justify-content: space-between;


        .delete-container {
            display: flex;
            flex-direction: column;
        }

        .option-container {
            align-self: center;
            justify-self: center;
            font-size: 1.3rem;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: calc(1rem - 10px);
            padding: 3px 10px;

            &:hover,
            &.active {
                // background-color: $hover-clr1;
                opacity: 1;
                background-color: lighten($clr1, 35%);
                color: $clr1;
                font-weight: 300;
                border-radius: 3px;
            }

            &.delete:hover {
                background: none;
                color: red;
            }

            // &.active {
            //     // background-color: #e2f3fa;
            //     background-color: $hover-clr1;
            // }

            .option-name {
                font-size: 0.8rem;
            }

            .editor-delete-icon {
                font-size: 1.7rem;
                text-align: center;
                transition: 0.3s;
                transform: scale(1.6);
            }

            .editor-delete-icon-hidden {
                transition: 0.1s;
                transform: scale(1);
                visibility: hidden;
            }
        }
    }
}



.editor-tools {
    // height: 70vh;
    width: 0px;
    overflow-x: hidden;
    transition: width 0.3s ease-in-out;
    font-size: 0.7em;
    border-left: 1px solid lightgray;
    // background-color: $hover-clr1;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 1px;
        background-color: white;
        border: 1px solid $almost-white;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #DDDDDD;
        z-index: 1;

        &:hover {
            cursor: pointer;
            background-color: #cbcbcb;
        }
    }

    &.open {
        border-right: 1px solid rgb(217, 217, 217);
        width: 250px;
        transition: width 0.2s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.372) 2px 0 4px -2px;
        z-index: 1;
        height: 100%;
    }
}