.editor-board {
    max-height: calc(100vh - 90px);
    overflow-y: scroll;
    scroll-behavior: smooth;
    resize: both;
    position: relative;
    // container-type: inline-size;

    // &.mobile{
    //     width: 380px;
    // }

    // &.tablet{
    //     width: 720px;
    // }

    // &.desktop{
    //     width: 100%;
    // }


    &.drop-zone {
        background-image: url('https://res.cloudinary.com/dimirmc9j/image/upload/v1674121344/dot-grid-blank_ekmq4f.webp');
        background-size: contain;

    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 1px;
        background-color: white;
        border: 1px solid $almost-white;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #DDDDDD;
        z-index: 1;

        &:hover {
            cursor: pointer;
            background-color: #cbcbcb;
        }
    }

    .selected {
        // border: 1px solid lighten($clr1, 10%);
        // background-color: lighten($hover-clr1, 40%);
        // border: 2px dashed lighten($editor-board-clr, 20%);
        outline: 2px dashed lighten($editor-board-clr, 20%);
        // outlinen -style: dashed;
        // background-color: lighten($editor-hover, 20%);
    }
    
    .hover {
        background-color: lighten($editor-hover, 17%);
        outline: 2px solid lighten($editor-board-clr, 10%);
        // box-shadow: inset 0px 0px 0 2px lighten($editor-board-clr, 10%);
    }

    .hover-cmp {
        box-shadow: inset 0px 0px 0 2px lighten($editor-board-clr, 10%);
    }
}


.dragable-container {

    &.dragging {
        transition: transform 0.3s ease-in;
        transform: scale(0.8);
        opacity: 0.3;
    }
}

.edit-icon.hover,.edit-icon.selected{
    display: block;
    // visibility: visible;
    font-size: 1.5rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.694);
    padding: 2px;
    line-height: 1;
    width: fit-content;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.664);
    position: relative;
    bottom: 40px;
    left: 10px;
}

.edit-icon{
    // visibility: hidden;
    display: none;
}