.editor-board {
    overflow-y: scroll;
    scroll-behavior: smooth;
    resize: both;
    position: relative;
    height: calc(100vh - 138px);
    margin: auto;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 1px;
        background-color: white;
        border: 1px solid $almost-white;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #DDDDDD;
        z-index: 1;

        &:hover {
            cursor: pointer;
            background-color: #cbcbcb;
        }
    }

    &.tablet-layout {
        max-height: calc(100vh - 160px);
        border-radius: 2rem;
        border: 5px solid white;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &.mobile-layout {
        max-height: calc(100vh - 160px);
        border-radius: 2rem;
        border: 5px solid white;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .desktop-layout {
        width: 100%;

    }

    .tablet-layout {
        width: $narrow-breakpoint;
    }

    .mobile-layout {
        width: $mobile-breakpoint;
    }

    * {
        transition: 0.4s width ease;
        margin: auto;
    }



    @media (min-width: $narrow-breakpoint) {
        height: calc(100vh - 79px);
    }

    &.drop-zone {
        background-image: url('https://res.cloudinary.com/dimirmc9j/image/upload/v1674121344/dot-grid-blank_ekmq4f.webp');
        background-size: contain;

    }

    .selected {
        outline: 2px dashed lighten($editor-board-clr, 20%);
    }

    .hover {
        background-color: lighten($editor-hover, 17%);
        outline: 2px solid lighten($editor-board-clr, 10%);
    }

    .hover-cmp {
        box-shadow: inset 0px 0px 0 2px lighten($editor-board-clr, 10%);
    }


}

.dragable-container {

    &.dragging {
        transition: transform 0.3s ease-in;
        transform: scale(0.8);
        opacity: 0.3;
    }
}

.edit-icon.hover,
.edit-icon.selected {
    display: block;
    font-size: 1.5rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.694);
    padding: 2px;
    line-height: 1;
    width: fit-content;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.664);
    position: relative;
    bottom: 40px;
    left: 10px;
}

.edit-icon {
    display: none;
}