.editor-side-bar {
    display: flex;
    background-color: white;
    color: $icon-clr;
    border-right: 1px solid rgb(181, 181, 181);
    border-right: none;
    font-family: roboto-regular;
    // position: relative;
    min-height: calc(100vh - 120px);


    .editor-options {
        display: flex;
        // justify-content: center;
        flex-direction: column;
        background-color: white;
        justify-content: space-between;


        .delete-container {
            display: flex;
            flex-direction: column;
        }

        .option-container {
            align-self: center;
            justify-self: center;
            font-size: 1.3rem;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem 0.8rem;

            &:hover {
                background-color: $hover-clr1;
            }

            &.delete:hover {
                background: none;
                color: red;
            }

            &.active {
                background-color: $hover-clr1;
            }

            .option-name {
                font-size: 0.8rem;
            }

            .editor-delete-icon {
                font-size: 1.7rem;
                text-align: center;
            }
        }
    }
}



.editor-tools {
    // height: 70vh;
    width: 0px;
    overflow-x: hidden;
    transition: width 0.3s ease-in-out;
    font-size: 0.7em;
    background-color: $hover-clr1;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 1px;
        background-color: white;
        border: 1px solid $almost-white;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #DDDDDD;
        z-index: 1;

        &:hover {
            cursor: pointer;
            background-color: #cbcbcb;
        }
    }

    &.open {
        border-right: 1px solid rgb(217, 217, 217);
        width: 250px;
        transition: width 0.2s ease-in-out;
        
        box-shadow: rgba(0, 0, 0, 0.372) 2px 0 4px -2px;
        z-index: 1;
    }
}



