
.editor-side-bar{
    display: flex;
    background-color: rgb(40, 40, 40);
    color: $almost-white;

    .editor-options {
        height: 85vh;
        width: 60px;
    }
    
    .editor-tools{
        width: 0px;
        overflow-x: hidden;
        transition: width 0.4s ease-in-out;
        
        &.open{
            width: 180px;
            transition: width 0.4s ease-in-out;
        }
    }
}
    