
.editor-side-bar{
    display: flex;
    background-color: white;
    color: $almost-black;
    border: 1px solid rgb(181, 181, 181);
    border-right: none;

    .editor-options {
        height: 85vh;
        width:  60px;
        display: grid;
        // justify-content: center;
        grid-template-rows: repeat(1, 60px);
        border-right: 1px solid rgb(181, 181, 181);
        
        .editor-option{
            align-self: center;
            justify-self: center;
            font-size: 1.3rem;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: 3px;

            .option-name{
                font-size: 0.8rem;
            }
            // align-self: flex-start;
            // margin: auto;
        }
    }
    
    .editor-tools{
        width: 0px;
        overflow-x: hidden;
        transition: width 0.4s ease-in-out;
        
        &.open{
            border-right: 1px solid rgb(181, 181, 181);
            width: 180px;
            transition: width 0.4s ease-in-out;
        }
    }
}
    