.editor-page {


    display: flex;
    flex-direction: column-reverse;
    // padding: 0 calc($narrow-padding - 5px);


    @media (min-width: $narrow-breakpoint) {
        display: grid;
        grid-template-columns: auto 1fr;
        padding: 0;
    }


}

// .editor-delete-icon{
//     font-size: 2.5rem;
//     margin: 0 auto;
// }