.home-page {
    font-family: roboto-regular;
    height: 100%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    padding: 0;
    gap: 0;
    & > *{
        margin: 0;

    }
}

