.wap-demos-page {
    margin: 10px $normal-padding;
    font-family: roboto-regular;

    .title{
        font-size: 2.3rem;
        color: $almost-black;
        max-width: 700px;
        padding-left: 5px;
        line-height: 1.2;
        margin-top: 30px;
        border-left: 5px solid $clr1;
    }

    .subtitle{
        font-size: 0.9rem;
        color: gray;

    }

    .preview-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 50px;
    }
}

.preview-card {
    display: flex;
    flex-direction: column;

    .preview-img {
        aspect-ratio: 6/8;
        height: 100%;
        object-fit: cover;
    }

    .img-container {
        position: relative;
        box-shadow: 0px 0px 8px 0px #00000041;
        // -webkit-transition: background-color 1000ms linear;
        // -ms-transition: background-color 1000ms linear;
        // transition: background-color 1000ms linear;

    }

    .img-container:hover {

        .btn-container {
            background-color: $bgc-almost-white;

            display: flex;
            flex-direction: column;
            justify-items: center;
            justify-content: center;
            align-items: center;
            position: absolute;
            inset: 0;
            margin: auto;
            text-decoration: none;
        }

        button {
            border-radius: 3em;
            padding: 10px 20px;
            min-width: 6rem;
        }

        .preview-btn {
            border: 1px solid $clr1;
            background: none;
            color: $clr1;
        }

        button:hover {
            opacity: 0.5;
        }
    }

    .preview-name {
        font-family: roboto-light;
        padding: 10px 0;
        font-size: 0.9rem;
    }

    .btn-container {
        display: none;
    }

}