.wap-video-2 {
    padding: 2rem $normal-padding 3.5rem;
    color: $almost-black;
    background-color: $t2clr2;
    text-align: center;
    display: flex;
    flex-direction: column;


    .title {
        align-self: center;
        padding: 0.7rem;
    }

    &.mobile-layout {
        padding: 2rem $mobile-padding 3.5rem;
      }
    
      &.tablet-layout {
        padding: 2rem $narrow-padding 3.5rem;
      }
    
      @media (max-width: $narrow-breakpoint) {
        padding: 2rem $narrow-padding 3.5rem;
      }
    
      @media (max-width: $mobile-breakpoint) {
        padding: 2rem $mobile-padding 3.5rem;
      }

}