.wap-video-1 {
    padding: 0 $normal-padding 3.5rem;
    border-top: 5px solid $t1clr1;
    color: $almost-black;
    background-color: $t2clr2;
    text-align: center;
    display: flex;
    flex-direction: column;

    .wap-card-video-container {
        width: 100%;
    }

    .title {
        align-self: center;
        background-color: $t1clr1;
        color: $almost-white;
        padding: 0.3rem 0.7rem;
    }

    .subtitle {
        margin-bottom: 2rem;
    }

}

.edit-icon{
    font-size: 1.5rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.694);
    padding: 2px;
    line-height: 1;
    width: fit-content;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.664);
    position: relative;
    bottom: 40px;
    left: 10px;
}