.wap-header-4 {
    // position: relative;
    background-color: #2e05e9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $almost-white;
    // padding: 1rem $mobile-padding;
    // font-size: 0.8rem;
  
  
    // @container (min-width: 460px) {
    //   padding: 1rem $narrow-padding;
    //   font-size: 0.9rem;
    // }
  
    // @container (min-width: 960px) {
    padding: 1.7rem $normal-padding;
    font-size: 1rem;
    // }
  
    .menu-btn {
      // display: block;
      // font-size: 2em;
  
      // @container (min-width: 720px) {
      display: none;
      // }
    }
  
    .nav-bar {
      // display: none;
      gap: 2em;
      // @container (min-width: 720px) {
      display: flex;
      align-items: center;
      // }
  
      a:hover{
        text-decoration: none;
        font-weight: 600;
      }
      
    }
    .logo {
      margin: 0;
    }

    // TO REMOVE AFTER PRES
    @media (max-width: $narrow-breakpoint) {
      padding: 25px 17px;
      .nav-bar{
        display: none;
      }
      .menu-btn {
        // display: block;
        // font-size: 2em;
    
        // @container (min-width: 720px) {
        display: block;
        color: rgb(52, 209, 182);
        // }
      }
    }
  
  }