
  .wap-header-7 {
    display: flex;
    position: relative;
    // z-index: 1;
    // position: fixed;
    background-color: #f7e5d2;
    // width: 97%;
    justify-content: center;
    gap: 4rem;
    padding: 1.3rem $normal-padding;
    align-items: center;
    color: $t2clr1;
  
    .logo {
      margin: 0;
      font-weight: 100;
      flex-grow: 1;
    }
  
    p {
      margin: 0;
    }
  
    &.mobile-layout,
    &.tablet-layout {
      padding: 1rem 1.5rem;
    }

    .login{
        display: flex;
        align-items: center;
    }
  
    .nav-bar {
      display: flex;
      align-items: center;
      gap: 1.5rem;
  
      a {
        color: $t2clr1;
        

        &:hover{
          text-decoration: none;
          font-weight: 600;
        }
      }
    }
  }