.wap-header-4 {
  background-color: #2e05e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $almost-white;

  padding: 1.7rem $normal-padding;
  font-size: 1rem;

  .menu-btn {
    display: none;
  }

  .nav-bar {
    gap: 2em;
    display: flex;
    align-items: center;

    a:hover {
      text-decoration: none;
      font-weight: 600;
    }

  }

  .logo {
    margin: 0;
  }


  &.mobile-layout {
    padding: 25px 17px;

    .nav-bar {
      display: none;
    }

    .menu-btn {
      display: block;
      color: rgb(52, 209, 182);
    }

  }


  @media (max-width: $narrow-breakpoint) {
    padding: 25px 17px;

    .nav-bar {
      display: none;
    }

    .menu-btn {
      display: block;
      color: rgb(52, 209, 182);
    }
  }

}