
  .wap-header-6 {
    display: flex;
    // z-index: 1;
    // position: fixed;
    background-color: inherit;
    position:absolute;
    z-index: 1;
    left: 0;
    right: 0;
    justify-content: space-between;
    // gap: 4rem;
    padding: 1rem $normal-padding;
    align-items: bottom;
    color: $t2clr1;
  
    .logo {
      margin: 0;
max-width: 140px;
    }
  
    p {
      margin: 0;
    }
  
    &.mobile-layout,
    &.tablet-layout {
      padding: 1rem 1.5rem;
    }

  
    .nav-bar {
      display: flex;
      align-items: flex-end;
      padding-bottom: 10px;
      gap: 1.5rem;
      justify-self: flex-end;
  
      a {
        color: $t2clr1;
        

        &:hover{
          text-decoration: none;
          font-weight: 600;
        }
      }
    }
  }