.wap-header-1 {
  // position: relative;
  background-color: $t1clr1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $almost-white;
  // padding: 1rem $mobile-padding;
  // font-size: 0.8rem;


  // @container (min-width: 460px) {
  //   padding: 1rem $narrow-padding;
  //   font-size: 0.9rem;
  // }

  // @container (min-width: 960px) {
  padding: 1rem $normal-padding;
  font-size: 1rem;
  // }

  .menu-btn {
    // display: block;
    // font-size: 2em;

    // @container (min-width: 720px) {
    display: none;
    // }
  }

  .nav-bar {
    // display: none;
    gap: 2em;
    // @container (min-width: 720px) {
    display: flex;
    // }

    a:hover{
      text-decoration: none;
      font-weight: 600;
    }
    
  }
  .logo {
    font-size: 2em;
    font-weight: 700;
    margin: 0;
  }

}