.wap-header-2 {
  background-color: $almost-white;
  display: flex;
  justify-content: space-between;
  padding: 1rem $normal-padding;
  align-items: center;
  color: $t2clr1;

  .menu-btn {
    display: none;
  }

  .logo {
    margin: 0;
  }

  p {
    margin: 0;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    gap: 1.3rem;

    a {
      color: $t2clr1;

      &:hover{
        text-decoration: none;
        font-weight: 600;
      }
    }
  }

  &.mobile-layout{
    padding: 1rem $mobile-padding;
  }
  &.tablet-layout{
    padding: 1rem $narrow-padding;
  }

  &.mobile-layout,
  &.tablet-layout {
    .nav-bar {
      display: none;
    }
    .menu-btn {
      display: block;
      font-size: 1.7em;
    }
  }

  @media (max-width: $narrow-breakpoint) {
    padding: 1rem $narrow-padding;
    .nav-bar {
      display: none;
    }
    .menu-btn {
      display: block;
      font-size: 1.7em;
    }
  }
  @media (max-width: $mobile-breakpoint) {
    padding: 1rem $mobile-padding;
  }

}