.wap-header-3 {
  display: flex;
  background-color: white;
  justify-content: center;
  gap: 4rem;
  padding: 1rem $normal-padding;
  align-items: center;
  color: $t2clr1;

  .logo {
    margin: 0;
    font-weight: 100;
  }

  p {
    margin: 0;
  }

  .menu-btn {
    display: none;
  }

  .login {
    margin-left: 100px;
    display: flex;
    min-width: 80px;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    a {
      color: $t2clr1;

      &:hover {
        text-decoration: none;
        font-weight: 600;
      }
    }
  }


  &.mobile-layout {
    padding: 1rem $mobile-padding;
    justify-content: space-between;

    nav {
      display: none;
    }

    .login {
      margin-left: 0px;
    }
  }



  &.tablet-layout {
    padding: 1rem $narrow-padding;

    .login {
      margin-left: 0px;
    }
  }

  @media (max-width: $narrow-breakpoint) {
    padding: 1rem $narrow-padding;

    .login {
      margin-left: 0px;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    padding: 1rem $mobile-padding;
    justify-content: space-between;
    .nav-bar {
      display: none;
    }
  }
}