.range-container {

    
    .css-1blxvja-MuiSlider-root {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
}

.slider-container {
    margin-bottom: 5px;
}

.edit-container {
    margin-bottom: 0;
}