.wap-header-1 {
  background-color: $t1clr1;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5.5rem;
  align-items: center;
  color: $almost-white;

  .logo {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
  }

  p {
    margin: 0;
  }

  &.mobile-layout,
  &.tablet-layout {
    padding: 1rem 1.5rem;
  }

  .nav-bar {
    display: flex;
    gap: 1rem;

    a {
      color: $almost-white;
    }

  }
}


.wap-hero-1 {
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 7.5rem 5.5rem;
  flex-direction: column;
  color: $almost-black;

  .title {
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 3.5em;
  }

  .txt {
    font-size: 1.3rem;
  }

  img {
    margin-top: 3rem;
    max-width: 100%;
  }

  button{
    @include btn($type: round, $bg: inherit, $clr: $t1clr1, $padding: em(8px) em(12px), $hover: #0b0b0b42);
    font-weight: 500;
  }
}

.wap-preview-1 {
  border-top: 5px solid $t1clr1;
  background-color: $almost-white;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 0 5.5rem 2.5rem;
  flex-direction: column;
  color: $almost-black;

  .title {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 3.5em;
  }

  .subtitle {
    font-size: 1.5em;
    margin-bottom: 2rem;
    background-color: $t1clr1;
    color: $almost-white;
    padding: 0 2rem;
  }

  .txt {
    font-size: 1.3rem;
  }

  img {
    margin-top: 3rem auto;
    max-width: 300px;
    margin: 20px auto;
  }
}


.wap-container-1a {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  width: 100%;
  min-height: 200px;
  align-content: center;
  background-color: #464646;

  .cards-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));


    .wap-card {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      //   background-color: $almost-whitesmoke;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        img {
          filter: brightness(70%);
        }

      }

    }

    .wap-card-img-container {
      min-height: 100px;
      // height: 100%;
      position: relative;
      aspect-ratio: 1/1;

      img {
        // width: 100%;
        height: 100%;
        min-height: 100px;
        background-position: center;
        object-fit: cover;
        transition: filter 0.1s;
      }
    }


  }

}


.wap-form-1 {



  border-top: 5px solid $t1clr1;
  background-color: $almost-white;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 0 5.5rem 2.5rem;
  flex-direction: column;
  color: $almost-black;

  .subtitle {
    font-weight: 600;
    margin-bottom: 4rem;
    font-size: 3.5em;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    gap: 2rem;

    input{
      @include input($borderClr: $t1clr1, $padding: em(8px) em(42px) em(8px) em(12px))
    }

    button{
      @include btn($type: min-round, $bg: $almost-white, $clr: $t1clr1, $padding: em(8px) em(12px), $hover: #171717)
    }
  }



  .title {
    font-size: 1.5em;
    margin-bottom: 2rem;
    background-color: $t1clr1;
    color: $almost-white;
    padding: 0 2rem;
  }
}

.wap-footer-1{
  padding:  2rem 5.5rem;
  background-color: #171717;
  color: $almost-white;

  .icons-container{
    display: flex;
    gap: 20px;

    .footer-icon{
      aspect-ratio: 1/1;
      background-color: $almost-white;
      border-radius: 50%;
      padding: 0.2rem;
      font-size: 1.2rem;
      color: #171717;
      cursor: pointer;
    }
  }
}