.edit-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    >* {
        border-bottom: 0.1px solid rgb(217, 217, 217);
        padding: 10px 3px;
    }
    .label {
        padding-bottom: 10px;
    }
    
}