.wap-footer-2 {
    padding: 2rem $normal-padding;
    background-color: #dbd1c7;
    color: $t2clr1;
  
    .icons-container {
      display: flex;
      gap: 20px;
  
      .footer-icon {
        aspect-ratio: 1/1;
        background-color: $t2clr1;
        padding: 0.2rem;
        color: $almost-white;
        cursor: pointer;
      }
    }
    &.mobile-layout {
      padding: 2rem $mobile-padding;
    }
  
    &.tablet-layout {
      padding: 2rem $narrow-padding;
    }
  
    @media (max-width: $narrow-breakpoint) {
      padding: 2rem $narrow-padding;
    }
  
    @media (max-width: $mobile-breakpoint) {
      padding: 2rem $mobile-padding;
    }
  }