.wap-footer-2 {
    padding: 2rem 5.5rem;
    background-color: $t2clr2;
    color: $t2clr1;
  
    .icons-container {
      display: flex;
      gap: 20px;
  
      .footer-icon {
        aspect-ratio: 1/1;
        background-color: $t2clr1;
        border-radius: 50%;
        padding: 0.2rem;
        font-size: 1.2rem;
        color: $almost-white;
        cursor: pointer;
      }
    }
  }