.wap-footer-5 {
    padding: 1.5rem $normal-padding;
    background-color: #d8b6b6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    p{
        margin: 0;
    }
  
    .icons-container {
      display: flex;
      gap: 20px;
  
      .footer-icon {
        aspect-ratio: 1/1;
        padding: 0.2rem;
        color: $almost-white;
        cursor: pointer;
      }
    }
  }