.wap-footer-1{
    padding:  2rem $normal-padding;
    background-color: #171717;
    color: $almost-white;
  
    .icons-container{
      display: flex;
      gap: 20px;
  
      .footer-icon{
        aspect-ratio: 1/1;
        background-color: $almost-white;
        padding: 0.2rem;
        color: #171717;
        cursor: pointer;
      }
    }
  }