.wap-about-4 {
    // width: 100%;
    padding: 0 $normal-padding 8.5rem;
    text-align: center;
    position: relative;

    .subtitle {
        position: absolute;
        width: 40%;
        max-width: 350px;
        aspect-ratio: 1/1;
        overflow-y: hidden;
        text-align: left;
        left: 60%;
        bottom: 20px;
        background-color: white;
        padding: 1.5rem;
        z-index: 1;
        border-radius: 4px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .title {
        margin-bottom: 50px;
    }

    .img-container{
        background-size: cover;
        
            img{
                // position: relative;
                min-height: 250px;
        
                // bottom: 200px;
            }

    }

}