.sites-list {
    // position: sticky;
    background-color: $almost-white;
    border-radius: 5px;
    margin: 10px 0 10px 10px;
    overflow-y: scroll;
    width: max-content;
    min-width: 122px;
    height: calc(100vh - 62px);
    text-align: left;
    padding: 10px;
    padding-top: 47px;
    font-size: 0.8rem;
    font-weight: 600;
    color: $icon-clr;
    box-shadow: -1px -1px 5px 1px rgb(0 0 0 / 17%);

    >* {
        padding-block: 10px;
        // border-bottom: 1px solid lightgray;
    }

    .active {
        background-color: $editor-board-clr;
        // border-radius: 20px;
        // padding: 10px;
    }

    h3{
        font-size: 1rem;
        position: fixed;
        padding: 16px;
        left: 10px;
        top: 51px;
        // position: absolute;
        background-color: $almost-white;
        box-shadow: rgba(0, 0, 0, 0.074) 1px 1px 4px 0.5px;

        // padding: 5px;
    }

    .title{
        font-size: 1rem;
        color: rgb(165, 165, 165);
        border-top: 1px solid lightgray;
        padding-top: 10px;
    }

    &::-webkit-scrollbar {
        width: 2px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 20px;
        background-color: rgb(234, 232, 232);
        border: 1px solid $almost-white;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        z-index: 1;
        background-color: #cbcbcb;

        &:hover {
            cursor: pointer;
            background-color: #b9b6b6;
        }
    }

    // >* {
    //     border-radius: 20px;
    // }

    >*:hover {
        cursor: pointer;

    }
}

/////////////////////////////////////////////////////
