.dashboard-board {
    margin-top: 30px;
padding-right: 55px;

    .dashboard-data-container {
        display: flex;
        height: 400px;
        gap: 200px;
    }

    .dashboard-board-header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        // align-items: center;
        gap: 10px;

        .published-msg {
            gap: 10px;
            // max-width: 270px;

            &.tomato {
                color: tomato;
            }

            &.success {
                color: rgb(96, 198, 96);
            }
        }

        img {
            max-width: 220px;
            margin-top: 20px;
        }



        .btn-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 22px;

            button {
                font-size: 0.75rem;
                border-radius: 0.3em;
                padding: 10px;
                margin: 0;
                max-width: 200px;
                // min-width: 4rem;
                margin-inline-end: 0;
            }

            .publish-btn {
                border: 1px solid $clr1;
                //     background-color: $bgc-almost-white;
            }

            .edit-btn {
                border: 1px solid $clr1;
                background: none;
                color: $clr1;
            }

            button:hover {
                opacity: 0.5;
            }

        }
    }

    .cards-container {
        display: flex;
        // gap: 30px;
        justify-content: space-between;
        text-align: center;
        margin-top: 60px;
        
        .details-container{
            padding: 1rem;
            background-color: lighten($clr1, 35%);
            // background-color: #3898ec22;
            
            border-radius: 5px;
        }

        .dashboard-icon-container{
            border-radius: 50%;
            background: linear-gradient(
                135deg,
                rgba(16, 57, 150, 0) 0%,
                #3898ecc5 100%
              );
            width: max-content;
            line-height: 0.8;
            padding: 0.5rem;
            margin: 0 auto 10px;
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }


}