.dashboard-board {
    margin-top: 30px;
    
    
    .dashboard-data-container{
        display: flex;
        height: 400px;
        gap: 200px;
    }

    .dashboard-board-header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        // align-items: center;
        gap: 10px;

        .published-msg {
            gap: 10px;
            max-width: 270px;

            &.tomato{
                color: tomato;
            }

            &.success{
                color: rgb(107, 233, 107);
            }
        }
        
        img{
            max-width: 200px;
        }



        .btn-container{
            display: flex;
            flex-direction: column;
            gap: 10px;
            button {
                font-size: 0.75rem;
                border-radius: 0.3em;
                padding: 10px;
                margin: 0;
                max-width: 200px;
                // min-width: 4rem;
                margin-inline-end: 0;
            }
    
            .publish-btn {
                border: 1px solid $clr1;
                //     background-color: $bgc-almost-white;
            }
    
            .edit-btn {
                border: 1px solid $clr1;
                background: none;
                color: $clr1;
            }
    
            button:hover {
                opacity: 0.5;
            }
    
        }
    }


}