@font-face {
    font-family: title;
    src: url(../../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: txt;
    src: url(../../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: txt-light;
    src: url(../../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: logo;
    src: url(../../fonts/CaviarDreams_Bold.ttf);
}