// Colors
$clr1: #166aea;
$almost-white: #faf6f6;
$almost-black: #111010;

$icon-clr: #373A40;

// template-1-colors
$t1clr1: #1f1f1f;

// template-2-colors
$t2clr1: rgb(35, 35, 35);
$t2clr2: rgb(239, 233, 230);

// Background Color
$bgc-almost-white : rgba(250, 245, 245, 0.9);

// Hover colors
$hover-clr1: rgb(235, 235, 235);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;


//Padding - breakpoints

$mobile-padding: 0.5rem;
$narrow-padding: 2.5rem;
$normal-padding: 5.5rem;