// Colors
$clr1: #166aea;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;
$almost-white: #faf6f6;
$almost-black: #111010;

// Background Color
$bgc-almost-white : rgba(250, 245, 245, 0.9);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;